/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Background */
body {
  background: #f1f3f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

/* Title */
h1 {
  margin-bottom: 20px;
  color: #333;
}

/* Input */
input {
  padding: 10px 14px;
  width: 250px;
  border-radius: 8px;
  border: 2px solid #ccc;
  outline: none;
  transition: 0.2s;
  font-size: 16px;
}

input:focus {
  border-color: #4caf50;
}

/* Add Task Button */
button {
  padding: 10px 15px;
  border: none;
  background: #4caf50;
  color: white;
  margin-left: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
  margin-top: 20px;
}

button:hover {
  background: #439f48;
}

/* UL list */
ul {
  margin-top: 25px;
  width: 330px;
  list-style: none;
}

/* Each item */
ul li {
  background: white;
  padding: 12px 14px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 4px solid #4caf50;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

/* Delete button */
.delete {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  background: #f44336;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.delete:hover {
  background: #d32f2f;
}
