* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f3f3;
}


.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: blueviolet;
}

form.first-page {
    padding: 15px 25px;
    background: rgb(225, 204, 238);
    border-radius: 8px;
    width: 80vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

button {
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}