* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: white;
    width: 100%;
    justify-content: space-around;
}

header img {
    width: 100%;
}

.cards span {
    font-weight: bold;
    color: blueviolet;
}

main {
    display: flex;
    flex-direction: column;
}

.intro h4 {
    color: blueviolet;
    font-size: 25px;
    padding: 10px;
}

.intro h2 {
    font-size: 40px;
    padding: 10px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    margin: auto;
}

.first-card {
    margin: 10px 10px;
    padding: 20px
}

.second-card {
    margin: 10px 10px;
    padding: 20px
}

.third-card {
    margin: 10px 10px;
    padding: 20px
}

.fourth-card {
    margin: 10px 10px;
    padding: 20px
}

.cards img {
    border-radius: 3px;
}

@media screen and (max-width: 450px) {
    .cards {
        flex-direction: column;
        align-items: left;
        padding: 20px;
        margin: auto;
    }

}