/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(190, 225, 255);
    padding: 10px 20px;
    flex-direction: row;
}

.logo {
    color: rgb(10, 0, 0);
    font-size: 15px;
}

.navigation {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navigation a {
    color: rgb(10, 0, 0);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.authentication button {
    margin-left: 10px;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #4579ad;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    width: 80%;
    max-width: 1000px;
    background-color: aqua;
}

.image img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.intro {
    max-width: 600px;
    margin-bottom: 10px;
    color: #000000;
}

.intro h2 {
    margin-bottom: 15px;
    color: rgb(10, 0, 0);
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 30px 20px;
    gap: 20px;
}

footer h3 {
    margin-bottom: 10px;
    color: rgb(159, 181, 255);
}

footer a {
    color: white;
    text-decoration: none;
}


ul {
    list-style: none;
    line-height: 1.8;
}

/*Media Query*/

/* You can apply media query in this 4 ways in your projects */
/* These are the ways in which you can apply media query */
@media screen and (max-width:560px) {
    header {
        background-color: lightcoral;
        flex-direction: column;
    }

    .navigation {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }
}

@media screen and (min-width:800px) {
    footer {
        background-color: lightcoral;
    }
}

@media screen and (max-width: 799px) and (min-width:561px) {
    main {
        background-color: lightcoral;
        flex-direction: column;
    }
}

/* @media screen and (561px <=width <=799px) {
    main {
        background-color: lightcoral;
    }
} */