* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    display: inline-block;
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: aqua;
    animation-name: bounce;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.box2 {
    display: inline-block;
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: aqua;
    animation-name: bounce;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.box3 {
    display: inline-block;
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: aqua;
    animation-name: bounce;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.box4 {
    display: inline-block;
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: aqua;
    animation-name: bounce;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.box5 {
    display: inline-block;
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: aqua;
    animation-name: bounce;
    animation-delay: 4s;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bounce {
    from {
        transform: translateY();
    }

    to {
        transform: translateY(-150px);
    }
}