* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div {
    padding: 50px;
    margin: 50px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    padding: 20px;
    margin: 50px 50px;
    width: 20%;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #1a0000;
    border-radius: 5px;
    background-color: aliceblue;
}

button {
    width: 80px;
    height: 30px;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #2c57e8;
    color: white;
    cursor: pointer;
}

.contact-details,
.education-details {
    display: none;
}