* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 70px;
    padding: 70px;
    width: 100%;
    border: 3px solid black;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(216, 228, 239);
    font-size: 20px;
}

.contact-us {
    margin: 10px;
    padding: 10px;
    width: 40%;
    margin: 10px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 2px solid black;
    font-size: 18px;
}

.gender {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.gender input {
    width: auto
}

.consent {
    width: auto;
}

button {
    padding: 10px;
    width: 15%;
    font-size: 15px;
    background-color: rgb(14, 130, 202);
    color: white;
    border-radius: 10px;
    margin: 15px;
}