body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: #e8f3f1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background: #2b8c82;
    color: white;
    text-align: center;
    padding: 18px 0;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* .wrapper {
    margin-top: 30px;
    display: flex;
    gap: 25px;
    width: 90%;
    max-width: 900px;
} */

.card {
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
    border: 2px solid #5edbca;
}

.form-container {
    flex: 2;
}

.sidebar {
    flex: 1;
    max-height: 400px;
    overflow-y: auto;
}

h3 {
    margin-top: 0;
    font-size: 20px;
    color: #2b8c82;
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 10px;
    font-size: 14px;
    background: #f6fbfa;
    border: 2px solid #23736a;
}

input:focus {
    border-color: #2b8c82;
    background: #ffffff;
}

button {
    width: 100%;
    margin-top: 22px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #096a61;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.user-item {
    background: #eef8f6;
    padding: 12px;
    border-radius: 10px;
    margin: 10px 0;
    border-left: 5px solid #2b8c82;
    font-size: 14px;
    color: #333;
}